
    <div class="row bd">
        <div class="col-xs-3 col-sm-3 col-md-3 hleft">
            <%= render 'listed/left_panel' %>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 member">
      
                <header class="row">
                    <div class="col-xs-10 col-sm-10 col-md-10">
                        <h3><%= session[:diruser_name] %></h3>
                    </div>
                </header>

            <div class="row dframe">
                <br>  
                    <h4><%= "Origin" %> </h4> 
                    <ul>
                    <% @dir_original_msg.each do |original|%>
                        <li id="one">
                            <b><%= original.user_name %></b>
                             <%= (original.created_at).strftime('%B %d %Y, %l:%M%P') %> 
                            </br>
                            <%= original.message %>
                        </li>    
                    <% end %>
                    </ul> 
                    <%= "Reply" %>  
                    <ul>
                    <% @dir_thread_msg.each do |thread|%>
                        <li id="one">
                            <b><%= thread.user_name %></b>
                             <%= (thread.created_at).strftime('%B %d %Y, %l:%M%P') %> 
                            </br>
                            <%= thread.thread_msg %>
                        </li>    
                    <% end %>
                    </ul> 
            </div>
                
                
            <div class="row footer">
                    <%= form_for(:dirthread,url:dirthreadinsert_path) do |f| %>
                   
                        <%= f.text_area :msg ,class:"col-xs-10 col-sm-10 col-md-10 tatag", autofocus: true %>                   
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <%= f.submit "Send",class: "btn btn-primary btnsent"%>
                        </div>
                    <% end %>
            </div>

        </div>
    </div>


